@tailwind base; /* resets and basic styles */
@tailwind components; /* reusable components such as buttons */
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Open Sans';
        src: url('@/../css/webfonts/open-sans.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Open Sans';
        src: url('@/../css/webfonts/open-sans.woff2') format('woff2');
        font-weight: bold;
        font-style: bold;
    }

    :root {
        font-family: 'Open Sans';
        --adn-orange: #f68630;
        --adn-cyan: #01ccf4;
        --adn-green: rgba(185, 202, 122);

    }

    a {
        @apply text-blue-500;
    }

    .text-adn-orange {
        color: var(--adn-orange);
    }
    .text-adn-cyan {
        color: var(--adn-cyan);
    }
    .text-adn-green {
        color: var(--adn-green);
    }
    .bg-adn-orange {
        background-color: var(--adn-orange);
    }
    .bg-adn-cyan {
        background-color: var(--adn-cyan);
    }
    .bg-adn-green {
        background-color: var(--adn-green);
    }

    body {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    }
}


@layer components {

    .btn-adn-primary {
        @apply block w-fit bg-adn-orange text-white text-sm font-semibold uppercase py-5 px-5 text-center transition-all duration-1000;
    }

    .btn-adn-primary[disabled] {
        @apply bg-neutral-300 cursor-not-allowed
    }

    .btn-adn-minor {
        @apply block w-fit text-adn-orange bg-white text-sm font-normal py-5 px-5 text-center justify-center border border-[var(--adn-orange)];
    }

    .btn {
        @apply text-white text-center px-2 py-1 mx-1 rounded-md shadow shadow-gray-500 cursor-pointer inline-block;
    }

    .btn.btn-action {
        @apply bg-blue-400 border-blue-600
    }
    .btn.btn-success {
        @apply bg-green-500 border-green-600
    }
    .btn.btn-danger {
        @apply bg-red-500 border-red-600
    }

    .form-ctl {
        @apply block w-full p-1.5 text-base leading-6 text-gray-700 bg-white
            border border-gray-300 rounded-md
            transition duration-150 ease-in-out
            focus:border-gray-500 focus:ring-0
    }
    .form-ctl:disabled {
        @apply bg-slate-200
    }

    .input-error {
        @apply text-sm text-red-500 dark:text-red-400
    }

}

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.27);
    }
    .container {
        @apply mx-auto md:max-w-[80vw];
    }
}

.tm-bg-white {
    @apply bg-white;
}
.tm-bg-dark-blue {
    @apply bg-green-400;
}
.tm-container {
    @apply container mx-auto px-4;
}
.tm-row {
    @apply flex items-center justify-between;
}
.footer-content {
    @apply text-center text-white;
}
.footer-text {
    @apply text-sm leading-6 mt-5;
}
.footer-bold {
    @apply text-sm font-bold leading-6 mt-1 mb-4;
}
