@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--adn-orange: #f68630;
--adn-cyan: #01ccf4;
--adn-green: rgba(185, 202, 122);
}

.text-adn-orange {
color: var(--adn-orange);
}
.text-adn-cyan {
color: var(--adn-cyan);
}
.text-adn-green {
color: var(--adn-green);
}

.btn-adn-primary {
@apply block w-fit bg-[var(--adn-orange)] text-white text-sm font-semibold uppercase py-5 px-5 text-center
}

.btn-adn-minor {
@apply block w-fit text-[var(--adn-orange)] bg-white text-sm font-normal py-5 px-5 text-center
}

.tm-bg-white {
@apply bg-white;
}
.tm-bg-dark-blue {
@apply bg-green-400;
}
.tm-container {
@apply container mx-auto px-4;
}
.tm-row {
@apply flex items-center justify-between;
}
.navbar {
@apply flex items-center justify-between w-full;
}
.navbar-brand {
@apply flex items-center mr-auto;
}
.navbar-toggler {
@apply lg:hidden p-2 border border-gray-300 rounded-md;
}
.navbar-collapse {
@apply hidden lg:flex bg-white w-full lg:w-auto lg:flex-grow lg:items-center;
}
.navbar-nav {
@apply flex flex-col lg:flex-row lg:ml-auto;
}
.nav-item {
@apply cursor-pointer text-sm font-normal text-black;
}
.nav-link {
@apply px-4 py-2 transition duration-300 ease-in-out;
}
.nav-link:hover,
.nav-link:focus {
@apply text-white bg-orange-500;
}
.footer-content {
@apply text-center text-white;
}
.footer-text {
@apply text-sm leading-6 mt-5;
}
.footer-bold {
@apply text-sm font-bold leading-6 mt-1 mb-4;
}
